<ion-content color="primary">

  <form (ngSubmit)="onFormSubmit(form)" #form="ngForm">

    <ion-grid class="grid">
      <img src="../assets/logos/logo.png" class="logo" />
      <ion-row>

        <ion-col>

          <ion-item color="termosDeUso">
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="E-mail" ngModel name="nome" required></ion-input>
          </ion-item>

          <ion-item color="termosDeUso">
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="E-mail" ngModel name="email" required></ion-input>
          </ion-item>


          <ion-item color="termosDeUso">
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" ngModel name="senha" minlength="10" required></ion-input>
          </ion-item>

          <ion-item color="termosDeUso">
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input type="password" ngModel name="confirmar" required></ion-input>
          </ion-item>

          <ion-button type="submit" class="enviar" size="default" color="light" expand="block">
            PROXIMO
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>
  </form>
  
  
</ion-content>