
.enviar {
    margin-top: 2rem;
}

ion-item {
    margin-top: 12px;
}

.logo {
    max-width: 62%;
     margin-left: 10%;
 
}

.cor {
    color: white;
}

.certo {
    color: green;
}

.errado {
    color: red;
}