<ion-header [translucent]="true" class="header" color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" class="cor" [routerLink]="['/ferramenta']"></ion-icon>
      <!-- <img src="../assets/icon/setinha.png" -->
    </ion-buttons>
  </ion-toolbar>
  <ion-avatar>
    <img src="../../assets/perfil/semperfilimg.png">
  </ion-avatar>
</ion-header>

<ion-content [fullscreen]="true" *ngFor="let usuario of arrUsuario; let i = index ">
<div id="container" >
 
  <h1>{{ usuario.nome }}</h1>
  <p>{{ usuario.email }}</p>
  <div class="info">
    <p>{{ usuario.datnasc }}</p>
    <p>{{ usuario.genero }}</p>
    
  
  </div>
  <div class="classificacao">
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
  </div>
</div>
<div id="container2">
  <spam></spam>
  <p class="allposts">Todas as postagens</p>

  <div class="product">
    <ion-avatar>
      <img src="../../assets/perfil/noimgproduct.png" />
    </ion-avatar>
    <strong>Nome do produto</strong>

    <div class="product-info">
      <div class="days">
        <ion-icon name="time-outline"></ion-icon>
        <p>Por x dias</p>
      </div>
      <p class="preco">R$xx,xx</p>
    </div>
  </div>
</div>

</ion-content>
