
 .logo {
    max-width: 62%;
    margin-left: 10%;
}

.cor {
    min-width: 30px;
    min-height: 30px;
    margin-left: 5px;
}

ion-button {
    margin-top: 30%;
}

input[type="file"] {
    z-index: 0;
    position: absolute;
    top: 18px;
    right: 10vw;
    width: 150px;
}
input[type="file"]::-webkit-file-upload-button{
    display: none;
}
.upload {
    cursor: pointer;
    text-align: center;
    height: 45px;
    display: flex;
    width: 100px;
    position: absolute;
    left: 5vw;
    top: 5vw;
}
.upload-area {
    top: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 100px;
    position: relative;
    border: solid;
    border-width: 2px;
    border-radius: 5%;
}
.upload ion-icon {
    width: 40px;
    height: 40px;;
}
