.logo {
    max-width: 62%;
     margin-left: 18%;
}

.termosDeUso, a {
    padding: 5px;
    font-size: 12px;
    margin-top: 10%;
    text-align: center;
}


ion-checkbox {
    margin-top: 15px;
    padding: 2px;
}

ion-item {
    margin-top: 1rem;
}

.enviar {
    margin-top: 5rem;
}

ion-content {
    margin-top: 10%;
}