.logoIfind {
    margin-left: 8%;
    margin-right: 5%;
    width: 62%;
}
ion-list {
    padding: 15px;
    text-align: justify ;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    
}

p, ol {
    font-size: 15px;
   color: gray;
}