<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">


          <ion-menu-toggle auto-hide="false" *ngFor="let p of labels; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"
              [class.selected]="selectedIndex == i" lines="none">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label>Modo Noturno</ion-label>
                    <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
        

        </ion-list>

      
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="logout()" routerDirection="root" detail="false">
              <ion-icon name="people" slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Deslogar</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>


</ion-app>