<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <img src="../assets/logos/logo.png" class="logoIfind" />
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar type="text" (ionChange)="search($event)" clearInput animated class="pesquisar" placeholder="Pesquisar"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- List of Sliding Items -->
  <ion-list>

    <ion-item *ngFor="let ferramenta of arrFerramentas; let i = index" [routerLink]="['../postagem']">
      <ion-avatar slot="start">
        <img [routerLink]="['../usuario']"
          src="https://66.media.tumblr.com/21c4d24d8c814dc53e5534a57fa3130b/tumblr_p3bzmlI8sA1x2w1vno8_250.png">
      </ion-avatar>
      <ion-label>
        <h2>Natsuki</h2>
        <h3>{{ ferramenta.nomeferramenta }}</h3>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>{{ ferramenta.dia }} Dias</p>
            </ion-col>
            <ion-col>
              <p>{{ ferramenta.preco }}</p>
              <ion-button color="danger" (click)="excluirDocinho(ferramenta.$key)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
              <ion-button [routerLink]="['../anuncio-edit', ferramenta.$key]" color="success">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-label>
    </ion-item>


  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/anuncio'] ">
      <ion-icon name="brush"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>