<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-grid class="grid">
    <img src="../assets/logos/logo.png" class="logo" />
    <ion-row>

      <ion-col>

        <ion-item color="termosDeUso">
          <ion-label>Genero</ion-label>
          <ion-select #genero required>
            <ion-select-option value="M">Masculino</ion-select-option>
            <ion-select-option value="F">Feminino</ion-select-option>
            <ion-select-option value="O">Outros</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="termosDeUso">
          <ion-label position="stacked">Data de Nascimento</ion-label>
          <ion-input type="date" #dtnasc required></ion-input>
        </ion-item>


        <ion-item color="termosDeUso">
          <ion-label position="floating">CEP</ion-label>
          <ion-input type="text" #cep required></ion-input>
        </ion-item>

        <ion-button class="enviar" (click)="logIn(email, password, confirmar)" size="default" color="light"
          expand="block" [routerLink]="['/usuario'] ">
          PROXIMO
        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>