<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      
        <ion-icon name="arrow-back" class="cor" [routerLink]="['/ferramenta']"></ion-icon>
      

      <img src="../assets/logos/logo.png" class="logoIfind" />

    </ion-buttons>
  </ion-toolbar>



  <ion-toolbar class="header" color="primary">
    <div class="post-box">
      <img src="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 class="post-title">{{ ferramenta.usuario.nome }}</h2>
  <p class="post-p">{{ emailusuario }}</p>
  <p class="tempo">{{ ferramenta.dia }} dias</p>
  <div class="stts">
  
    <p class="price">{{ ferramenta.preco }}</p>
    <p class="chat" [routerLink]="['../chat']" >Chat <ion-icon name="chatbubbles-outline"></ion-icon>
    </p>
  </div>

  <div class="desc">
    <h4>Descrição</h4>
    <p>
      {{ ferramenta.descricao }}
    </p>
  </div>
</ion-content>