<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
         
              <img src="../assets/logos/logo.png" class="logoIfind"/>
            
        </ion-buttons>
      </ion-toolbar>

      
      
  <ion-toolbar class="header" color="primary">
    <div class="post-box">
      <img src="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="post-title">Sem titulo</h2>
  <p class="post-p">Proprietario(a): Sem Nome</p>
  <p class="tempo">0 dias</p>
  <div class="stts">
    <ul>
      <li>Disp</li>
    </ul>
    <p class="price">R$0,00</p>
    <p class="chat">Chat <ion-icon name="chatbubbles-outline"></ion-icon></p>
  </div>
  
  <div class="desc">
    <h4>Descrição</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
       incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</ion-content>
